<%- include("./partials/head.ejs") %>
<style>
    div{
        
        text-align: center;
        margin: auto;
        align-items: center;
    }
    .bi{
        font-size: 200px;
        color: rgb(112, 177, 13);
    }
    h3{
        color: rgb(112, 177, 13);

    }
    a{
        background-color: green;
        color: white;
        text-decoration: none;
        width: fit-content;
        padding: 10px;
        height: 20px;
        border-radius: 10px;
        font-size: 10px;
        margin-top: 20px;

    }
</style>
<div>
    <i class="bi bi-check2-circle"></i>
    <h3>
        <%= name %> has been successfully registered 
    </h3>

    <!-- <a href="">Join the Whatsap Group</a> -->
</div>